<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Heather - Home</title>
        <meta name="description" content="Heather">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="./atom.xml" rel="alternate" title="Heather" type="application/atom+xml">
        <link rel="shortcut icon" type="image/ico" href="./favicon.ico" />

        <script src="./bootstrap/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="./bootstrap/bootstrap-theme.min.css">
        <script src="./bootstrap/bootstrap.min.js"></script>
        <script src="./bootstrap/angular.min.js"></script>

        <link rel="stylesheet" type="text/css" media="all" href="./css/hasklig.css">
        <link rel="stylesheet" type="text/css" media="all" href="./css/octicons.css">
        <link rel="stylesheet" type="text/css" media="all" href="./css/syntax.css" />
        <link rel="stylesheet" type="text/css" media="all" href="./css/default.css" />
    </head>
    <body>
        <div id="content">
            <link href="./css/index.css" type="text/css" rel="stylesheet"><link href="./css/404.css" type="text/css" rel="stylesheet"><div id="main"></div><div id="parent"><div id="top"><div class="mlr"><div style="margin-top: 50px;" class="mleft">404</div><div style="padding-top: 250px;" class="mright"><h3>Hello {{name}}!</h3>Name:<input type="text" ng-model="name"><br><button data-toggle="modal" data-target="#modal" class="btn btn-primary">Ping</button><div tabindex="-1" role="dialog" id="modal" class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button data-dismiss="modal" type="button" class="close">&times</button><h3 style="margin: 0">Pong</h3><div class="modal-body"><ul style="margin: 0"><li>Hakyll</li><li>Lucid</li><li>Clay</li></ul></div></div><div style="margin: 0" class="modal-footer"><button data-dismiss="modal" class="btn btn-success">OK</button></div></div></div></div></div></div></div></div><script src="./js/404.js"></script><script src="./js/youtube404.js"></script>
        </div>

        <div id="social">
            <ul>
              <li>
                <a href="http://github.com/Heather" title="Github" target="_blank">
                  <span class="mega-octicon octicon-octoface"></span>
                </a>
              </li>
              <li>
                <a href="http://twitter.com/Cynede" title="Twitter" target="_blank">
                  <span class="mega-octicon octicon-star"></span>
                </a>
              </li>
              <li>
                <a href="mailto:heather@live.ru" title="Main mail" target="_blank">
                  <span class="mega-octicon octicon-mail-read"></span>
                </a>
              </li>
              <li>
                <a href="http://www.last.fm/user/Cynede" title="Last.fm" target="_blank">
                  <span class="mega-octicon octicon-broadcast"></span>
                </a>
              </li>
              <li>
                <a href="http://grooveshark.com/#!/cynede" title="Grooveshark" target="_blank">
                  <span class="mega-octicon octicon-squirrel"></span>
                </a>
              </li>
              <li>
                <a href="./atom.xml" title="RSS" target="_blank">
                  <span class="mega-octicon octicon-rss"></span>
                </a>
              </li>
            </ul>
        </div>

        <div id="footer">

        </div>

    </body>
</html>
